<h1>Download</h1>

<hr/>

<h2>Releases</h2>

<p>
  The latest version of Fleegix.js is <%= FLEEGIX_VERSION
  %>. Pick your poison:
</p>

<ul>
  <li>
    <p>
      <a href="<%= FLEEGIX_PATH %>/fleegix.js">
      Fleegix.js <%= FLEEGIX_VERSION %> -- compressed
      version (19K)</a></p> <p>Compressed with the <a
      href="http://www.julienlecomte.net/yuicompressor/">YUI
      Compressor</a>, this version should be used in your
      production apps, where download speed is important.
    </p>

  </li>

  <li>
    <p>
      <a href="<%= FLEEGIX_PATH %>/fleegix.js.gz"> Fleegix.js
      <%= FLEEGIX_VERSION %> -- gzipped, compressed
      version (6.4K)</a></p> <p>Compressed with the <a
      href="http://www.julienlecomte.net/yuicompressor/">YUI
      Compressor</a> and gzipped, this version can be used in
      your production apps, if you've configured your server
      properly for gzipped JavaScript content.
    </p>

  </li>

  <li>
    <p>
      <a href="<%= FLEEGIX_PATH %>/fleegix.js.uncompressed.js">
      Fleegix.js <%= FLEEGIX_VERSION %> -- raw, uncompressed
      version (45K)</a></p> <p>No compression applied --
      this one should be used for development and debugging.
    </p>

  </li>
</ul>

<p>
 Some people use various modules independently in their apps --
 you can find the source for each module in the <a href="<%=
 FLEEGIX_PATH %>/src/">src directory for the latest release</a>.
</p>

<p>
  Older releases, which are not maintained, are in the <a
  href="http://downloads.fleegix.org/fleegix_js/releases/">
  releases directory</a>.
</p>

<h2>Source Code</h2>

<p>
  You can view the source code with your Web browser in the <a
  href="http://github.com/mde/fleegix-js-javascript-toolkit/tree/master">repository
  on GitHub</a>.
</p>

<p>
  Or you can get the source on your on your local machine
  using Git:
</p>

<pre><code>git clone git://github.com/mde/fleegix-js-javascript-toolkit.git</code></pre>

